{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/exec", {"publishCmd":"npm run build"}],
    ["@semantic-release/github", {"assets":[{"path":"./build/*.js"},{"path":"./build/*.js.app"}]}]
  ]
}